body{
  margin:0;
  background:#0a0a0a;
  color:#fff;
  font-family:Arial, sans-serif;
}

.glass-header{
  width:100%;
  height:70px;
  background:rgba(255,255,255,0.06);
  backdrop-filter:blur(12px);
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
  border-bottom:1px solid rgba(255,255,255,0.15);
}

.logo{
  font-size:24px;
  cursor:pointer;
  font-weight:700;
}

.menu-icons{
  display:flex;
  align-items:center;
  gap:20px;
}

.hamburger{
  cursor:pointer;
  font-size:28px;
}

.sidebar{
  position:fixed;
  top:0;
  right:-300px;
  width:300px;
  height:100vh;
  background:#111;
  padding:20px;
  transition:0.3s;
  z-index:2000;
}

.sidebar.open{
  right:0;
}

.sidebar-header{
  display:flex;
  justify-content:space-between;
  font-size:20px;
  margin-bottom:20px;
}

.sidebar a{
  display:block;
  padding:12px;
  margin-bottom:8px;
  color:#eee;
  text-decoration:none;
  background:#181818;
  border-radius:8px;
}

.hero{
  height:350px;
  background:url('https://r.resimlink.com/eW-gkBi17DO.jpeg') center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
  margin-top:70px;
}

#notifCount{
  font-size:11px;
  background:#ff4444;
  color:#fff;
  padding:2px 6px;
  border-radius:12px;
  margin-left:2px;
}
.close-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 28px;
  cursor: pointer;
}
